<div class="page_container">
<div class="about">
    <div class="header">About Me</div>

    <div class="info">
        <div class="header--2">About Me</div>
        <div class="info__block text">
                <!-- reflect customer needs -->
                <!-- don't just lead with the facts -->
                <!-- share who you are and what you believe -->

                I am a student studying IT Web Programming at the NSCC Truro Campus. I suppose I first obtained my interest in tech from my father, who is a professional graphic and front-end designer. Computer classes were my favorite in high school. I later enrolled into college at the NSCC Truro Campus, originally intending to study game development. I made a wiser decision in changing to a more professional web development career. 
                <br><br>
                I was born in Ontario, moving to Nova Scotia when I was about 5 years old. I was born with hearing loss, wearing hearing aids and later on glasses, for my whole life. Instead of being hindered by this, I decided to adapt and overcome. I believe I can get through anything. I care about others, I feel for those who are helpless or in need. I’m interested in talking with anyone, disabled or able, tech-savvy or not. 
                Feel free to contact me.

        </div>
    </div>
</div>

<div class="page_spacer"></div>

<div class="header--2">My Workplace Goals</div>
<div class="goals">
    <div class="goals__block">
        <div class="header--3">
            Short term
        </div>
        <div class="text">
            Discover what position works best for me by increasing area of knowledge to advanced by the end of my second college year.
        </div>
    </div>
    <div class="goals__block">
        <div class="header--3">
            Mid term
        </div>
        <div class="text">
            Get familiar with at least 5 new languages/frameworks in 3 years, see what fits my preferences.
        </div>
    </div>
    <div class="goals__block">
        <div class="header--3">
            Long term
        </div>
        <div class="text">
            Become an established web developer by reaching over 30 clients in 5 years time. 
        </div>
    </div>
</div>
</div>