<div class="page_container">
<div class="contact block block__first">
    <div class="header">Why Connect With Me?</div>

    <div class="connect">
        <div class="connect__block">
            I thrive with communicating with clients to meet their needs, efficiently creating websites and web applications as needed.
        </div>
        <div class="connect__block">
            I can assist in optimizing the utilization of resources, such as researching newer, cheaper tools and technology.
        </div>
        <div class="connect__block">
            I have shown that I am able to learn new things rapidly - always open to learning more.
        </div>
        <div class="connect__block">
            I’m always improving myself, putting out maximum effort with every task I’m given.
        </div>
        <div class="connect__block">
            I value the people I’m assisting before myself, this could mean the company, team members and clients.
        </div>
        <div class="header--2">My Contact Info</div>
        <div class="connect__block">
            <div><b>Linkedin:</b><a href="https://www.linkedin.com/in/sam-davey888/">linkedin.com/in/sam-davey888/</a> </div>
            <div><b>Phone:</b>(902) 899-7926</div>
            <div><b>Business Email:</b>sam.davey888@gmail.com</div>
        </div>
    </div>

    <div>{{ insert form here... }<!---->}</div>

</div>
</div>