<div class="page_container">
    <div class="header">My Skills</div>
    <div class="info">
        <div class="header--2">Overview</div>
            <div class="info__block text">
                I'm a generalist, which is a great addition to any team, due to my ability to gather team players together and get things done.<br>
                I never let a difficult problem go unsolved, being able to work individually and socially. <br>
                I’m able to manage my time efficiently, while consistently delivering quality results.<br>
                I am competent in graphic/web design, and full-stack development. <br>
                I have 4-5 Years of experience in Graphic Design.<br>
                I'm also capable of providing technical support with Windows and Android operating systems.
        </div>
    </div>

    <div class="page_spacer"></div>

    <div class="header--2">Technical Skills</div>

    <div class="lead"> I'm able to read, write, update and execute code using technologies such as:</div>
    
    <div class="split_container text">
        <div class="tech">
            <div class="header--3">Front End</div>
            <div class="item">HTML</div>
            <div class="item">CSS</div>
            <div class="item">jQuery</div>
            <div class="item">Vanilla Javascript (ES6)</div>
            <div class="item">TypeScript</div>
            <div class="item">HTML DOM</div>
            <div class="item">Bootstrap</div>
            <div class="item">Angular 8</div>
            <div class="item">BEM Notation</div>
        </div>

        <div class="tech">
            <div class="header--3">Back End</div>
               <div class="item">Node.js</div> 
               <div class="item">Python</div> 
               <div class="item">Java</div> 
               <div class="item">C#</div> 
               <div class="item">Express.js</div> 
               <div class="item">PHP</div> 
               <div class="item">mySQL</div> 
               <div class="item">MongoDB</div> 
               <div class="item">Ubuntu OS</div> 
               <div class="item">Apache Web Servers</div> 
               <div class="item">LAMP/WAMP Stack</div> 
               <div class="item">MEAN Stack</div> 

        </div>
    </div>
</div>